
<%= render partial: '/layouts/navbar1' %>

<div class="index-body">
	<h3>Explore Booking BnB!</h3>
</div>	
	<%= render partial: '/layouts/product_grid' %>


	<div class="text-center">
		<%= paginate @listings %>
	</div>