
<%= render partial: '/layouts/navbar1' %>

<div class="index-body">
	<% if params[:country] %>
		<h3>Results for '<%= params[:country] %>'</h3>
	<% else %>
		<h3>Explore the listing for your stay!</h3>
	<% end %>
</div>	
	<%= render partial: '/layouts/product_grid' %>


	<div class="text-center">
		<%= paginate @listings %>
	</div>